@charset "UTF-8";

/*Fontes Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
/*Fontes Textos*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/*Icones*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css);

:root {
    --font-titulo: monospace, cursive;
    --font-texto: "Sour Gummy", cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div > h1 {
    color: white;
    font-size: 2em;
    font-family: var(--font-titulo);
    padding: 20px;
    text-align: center;
    
    
}
header > div > p {
    color: white;
    font-size: 1.3em;
    font-family: var(--font-texto);
    text-align: center;
    padding: 20px;

}
button#explorar {
    padding: 10px;
    background-color: chartreuse;
    font-family: var(--font-texto);
    border-radius: 20px;
    font-size: 0.9em;
    cursor: pointer;
    border: solid 1px rgb(9, 6, 185);
}
button#explorar:hover {
    background-color: rgba(128, 255, 0, 0.637);
}
#card {
    text-align: center;
    height: 220px;
}
#card > h1 {
    font-family: var(--font-titulo);
    padding: 20px;
}
#card > ol {
    padding: 5px;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
#card > ol >li {
    font-family: var(--font-texto);
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    flex-direction: column;
    display: flex;
    background-color: rgba(241, 236, 236, 0.959);
}
#card > ol > li i {
    font-size: 1.3em;
    padding: 10px;
    color: blue;

}
section > h1 {
    font-family: var(--font-titulo);
    font-size: 1.9em;
    text-align: center;
    padding: 5px;
}
#produtos-destaque {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}
.produto {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}
.produto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}
.produto h2 {
    font-family: var(--font-texto);
    font-size: 1.5em;
    margin: 10px 0;
}
.produto p {
    font-family: var(--font-texto);
    font-size: 1.3em;
}
button.carrinho {
    font-family: var(--font-texto);
    padding: 10px 10px;
    background-color: #0b43fa;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}
button.carrinho:hover {
    background-color: #0056b3;
}
.imagens-secundarias {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    gap: 5px;
}
div.imagens-secundarias:hover {
    width: 160px;
}